$color__text: #64666B;

$color__banner-pre-title: #979075;
$color__banner-title: #64666B;
$color__banner-scroller: #64666B;

$background__header-button: #64666B;
$color__header-button: #fff;

$trust-us__bg: rgb(249, 249, 247);
$trust-us__color: #64666B;

$text-with-image__color: #64666B;
$text-with-image__border: #EE796D;

$reality-reversal__bg: rgb(244, 244, 240); 

$color__journey__from: #979075;
$color__journey__to: #CF5637;
$color__journey__border: #CF5637;

$background__feedback: #979075;
$background__feedback-form: #F1F5F9;
$background__feedback-btn: #75978A;
$color_feedback_title: #979075;
$color_feedback_text: #64666B;
$background__feedback-data: #75978A;

$background__footer: #64666b;